{% extends 'header.html' %}
{% block content %}
    <h2>
        All transfers
    </h2>
    <span><a href="/" class="btn btn-primary">Dashboard</a></span>
    {% autoescape off %}
    <form method="post" action="confirm">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Sender</th>
            <th scope="col">Recipient</th>
            <th scope="col">Recipient Account No.</th>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Confirmed</th>
        </tr>
        </thead>
        <tbody>
        {% for transfer in transfers %}
            <tr>
                <td>{{ transfer.sender.username }}</td>
                <td>{{ transfer.recipient_name }}</td>
                <td>{{ transfer.recipient_account }}</td>
                <td>{{ transfer.title }}</td>
                <td>{{ transfer.date }}</td>
                <td>{{ transfer.amount }}</td>
                <td><input name="{{ transfer.id }}" id="{{ transfer.id }}" type="checkbox"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endautoescape %}
    <span><a href="all_transfers" class="btn btn-primary">All transfers</a> </span>
{% endblock %}
